/*
 *   ui-audio-file, AudioFile.js
 */

*[theme="osnot-dark"] ui-audio-file input[type="range"]::-webkit-slider-thumb {
    background-color: #FFFFFF;
}

*[theme="osnot-dark"] ui-audio-file input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-audio-file label {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-audio-file ui-audio-icon[svg="play"] {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-audio-file ui-audio-icon[disabled] {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-audio-file label svg path {
    fill: #FFFFFF;
}
*[theme="osnot-dark"] ui-audio-file ui-audio-icon[svg="play"] svg path {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-audio-file input[type="range"]:disabled {
    background: linear-gradient(90deg, #505050 0, #505050 calc(var(--range-value) * 100%), #505050 calc(var(--range-value) * 100%), #505050 100%);
}

*[theme="osnot-dark"] ui-audio-file input[type="range"] {
    background: linear-gradient(90deg, #FFFFFF 0, #FFFFFF calc(var(--range-value) * 100%), #505050 calc(var(--range-value) * 100%), #505050 100%);
}

*[theme="osnot-dark"] ui-audio-file ui-audio-icon[svg="volume-high"] svg path {
    fill: #FFFFFF;
}

/*
 *   ui-confirm-button, ConfirmButton.js
 */

*[theme="osnot-dark"] ui-confirm-button {
    color: #FFFFFF;
    --color-10: rgba(187, 134, 252, 0.1);
    --color-6: #505050;
}

*[theme="osnot-dark"] ui-confirm-button svg path {
    fill: #FFFFFF;
}

/*
 *   ui-context-menu, ContextMenu.js
 */

*[theme="osnot-dark"] ui-context-menu {
    background-color: #505050;
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0 var(--twelveth-size) var(--twelveth-size) 0 rgba(187, 134, 252, 0.1);
}

*[theme="osnot-dark"] ui-context-menu svg path {
    fill: #FFFFFF;
}

/*
 *   ui-context-element, ContextMenuElement.js
 */

*[theme="osnot-dark"] ui-context-element:hover {
    background-color: rgba(187, 134, 252, 0.1);
}

/*
 *   ui-hide-overlay, HideOverlay.js
 */

*[theme="osnot-dark"] ui-hide-overlay {
    background-color: var(--color-3);
}

/*
 *   ui-icon, Icon.js
 */

*[theme="osnot-dark"] ui-icon polygon {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-icon path {
    fill: #FFFFFF;
}

/*
 *   ui-information, Information.js
 */

*[theme="osnot-dark"] ui-information:not(:last-of-type) {
    border-bottom-color: var(--color-6);
}

*[theme="osnot-dark"] ui-information ui-icon svg path {
    fill: var(--color-6);
}

*[theme="osnot-dark"] ui-information ui-text:nth-of-type(2) {
    color: var(--color-5);
}

/*
 *   ui-main-header, MainHeader.js
 */

*[theme="osnot-dark"] ui-main-header {
    background-color: #121212;
    box-shadow: 0 var(--twelveth-size) var(--twelveth-size) 0 rgba(187, 134, 252, 0.1);
}

*[theme="osnot-dark"] ui-main-header ui-icon {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-main-header ui-title {
    color: #FFFFFF;
}

*[theme="osnot-dark"] ui-main-header ui-logo svg circle:nth-child(1) {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-main-header ui-logo svg circle:nth-child(2) {
    stroke: #121212;
}

*[theme="osnot-dark"] ui-main-header ui-logo svg polygon:nth-child(3) {
    fill: #121212;
}

*[theme="osnot-dark"] ui-main-header ui-logo svg polygon:nth-child(4) {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-main-header ui-search-bar {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-main-header ui-search-bar input {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #505050;
}

*[theme="osnot-dark"] ui-main-header triangle {
    border-color: transparent #505050 transparent;
}

/*
 *   ui-page, Page.js
 */

*[theme="osnot-dark"] ui-page {
    background-color: #121212;
    color: #FFFFFF;
}

/*
 *   ui-page-header, PageHeader.js
 */

*[theme="osnot-dark"] ui-page-header {
    background-color: #505050;
    box-shadow: 0 var(--twelveth-size) var(--twelveth-size) 0 rgba(187, 134, 252, 0.1);
}

*[theme="osnot-dark"] ui-page-header ui-title {
    color: #FFFFFF;
}

/*
 *   ui-scrollbar, ScrollBar.js
 */

*[theme="osnot-dark"] ui-scrollbar {
    background-color: var(--color-3);
}

/*
 *   ui-audio-file, AudioFile.js
 */

*[theme="osnot-dark"] ui-slider input[type="range"]::-webkit-slider-thumb {
    background-color: var(--color-3);
}

*[theme="osnot-dark"] ui-slider input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-slider ui-slider-icon svg path {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-slider input[type="range"]:disabled {
    background: linear-gradient(90deg, var(--color-6) 0, var(--color-6) calc(var(--range-value) * 100%), var(--color-6) calc(var(--range-value) * 100%), var(--color-6) 100%);
}

*[theme="osnot-dark"] ui-slider input[type="range"] {
    background: linear-gradient(90deg, #505050 0, #505050 calc(var(--range-value) * 100%), var(--color-6) calc(var(--range-value) * 100%), var(--color-6) 100%);
}

/*
 *   ui-snackbar, SnackBar.js
 */

*[theme="osnot-dark"] ui-snackbar {
    background-color: #121212;
}

/*
 *   ui-snackbar-button, SnackBar.js
 */

*[theme="osnot-dark"] ui-snackbar-button {
    color: #FFFFFF;
}

*[theme="osnot-dark"] ui-snackbar-button:hover {
    border-color: #FFFFFF;
    color: #121212;
}

/*
 *   ui-snackbar-text, SnackBar.js
 */

*[theme="osnot-dark"] ui-snackbar-text {
    color: #FFFFFF;
}

/*
 *   ui-stream, Stream.js
 */

*[theme="osnot-dark"] ui-stream {
    background-color: #121212;
}

*[theme="osnot-dark"] ui-stream favicon {
    background-color: #FFFFFF;
}

/*
 *   ui-stream-infos, StreamInfo.js
 */

*[theme="osnot-dark"] ui-stream-infos {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #505050;
    box-shadow: 0 var(--twelveth-size) var(--twelveth-size) 0 rgba(187, 134, 252, 0.1);
}

*[theme="osnot-dark"] ui-stream-infos ui-avatar {
    background-color: #505050;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info {
    background-color: #505050;
    color: #FFFFFF;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info path {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info[info="viewers"] {
    background-color: #121212;
    color: #FFFFFF;
}
*[theme="osnot-dark"] ui-stream-infos ui-stream-info[info="username"] {
    background-color: #121212;
    color: #FFFFFF;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info[info="viewers"] path {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info[info="edit"] {
    border-top: solid 1px #FFFFFF;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info[info="edit"]:hover {
    background-color: #FFFFFF;
    color: #121212;
    border-color: #121212;
}

*[theme="osnot-dark"] ui-stream-infos ui-stream-info[info="edit"]:hover svg path {
    fill: #121212;
}

/*
 *   ui-stream-infos-lite, StreamInfoLite.js
 */

ui-stream-infos-lite {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #505050;
}

ui-stream-infos-lite ui-avatar {
    background-color: #121212;
}

ui-stream-infos-lite ui-stream-info {
    color: #FFFFFF;
}

ui-stream-infos-lite ui-stream-info path {
    fill: #FFFFFF;
}

ui-stream-infos-lite ui-stream-info[info="viewers"] {
    background-color: #121212;
    color: #FFFFFF;
}
ui-stream-infos-lite ui-stream-info[info="username"] {
    background-color: #121212;
    color: #FFFFFF;
}

ui-stream-infos-lite ui-stream-info[info="viewers"] path {
    fill: #FFFFFF;
}

/*
 *   ui-stream-list, StreamList.js
 */

*[theme="osnot-dark"] ui-stream-list {
    background-color: #121212;
}

/*
 *   ui-switch, Switch.js
 */

*[theme="osnot-dark"] ui-switch[border] {
    border-color: #FFFFFF;
}

*[theme="osnot-dark"] ui-switch ui-switch-icon svg path {
    fill: #FFFFFF;
}

*[theme="osnot-dark"] ui-switch label svg path {
    fill: var(--color-6);
}

*[theme="osnot-dark"] ui-switch label input:checked+svg path {
    fill: #FFFFFF;
}

/*
 *   ui-theme-template, ThemeTemplate.js
 */

ui-theme-template[theme="osnot-dark"] {
    background-color: #121212;
    border-color: #FFFFFF;
}

ui-theme-template[theme="osnot-dark"] ui-theme-header {
    background-color: #121212;
    box-shadow: 0 var(--twelveth-size) var(--twelveth-size) 0 rgba(187, 134, 252, 0.1);
}

ui-theme-template[theme="osnot-dark"] ui-theme-overlay {
    background-color: #505050;
}

ui-theme-template[theme="osnot-dark"] ui-theme-title {
    color: #FFFFFF;
    background-color: #505050;
}

ui-theme-template[theme="osnot-dark"] ui-theme-icon {
    background-color: #FFFFFF;
}

ui-theme-template[theme="osnot-dark"] ui-theme-triangle {
    border-color: transparent #505050 transparent;
}

/*
 *   ui-title-section, TitleSection.js
 */

*[theme="osnot-dark"] ui-title-section {
    color: #FFFFFF;
}

/*
 *   ui-user-info, UserInfo.js
 */

*[theme="osnot-dark"] ui-user-info ui-avatar {
    background-color: #FFFFFF;
}

*[theme="osnot-dark"] ui-user-info input {
    border-color: #FFFFFF;
    color: #FFFFFF;
}