html {
    --normal-size: 48px;
    --five-sixth-size: calc(var(--sixth-size) * 5);
    --three-quarter-size: calc(var(--quarter-size) * 3);
    --two-third-size: calc(var(--third-size) * 2);
    --half-size: calc(var(--normal-size) / 2);
    --third-size: calc(var(--normal-size) / 3);
    --quarter-size: calc(var(--normal-size) / 4);
    --sixth-size: calc(var(--normal-size) / 6);
    --eighth-size: calc(var(--normal-size) / 8);
    --twelveth-size: calc(var(--normal-size) / 12);
    --twentyfourth-size: calc(var(--normal-size) / 24);
    --normal-half: calc(var(--normal-size) + var(--half-size));
    --normal-half-pytha: 102px;
    --normal-1: var(--normal-size);
    --normal-2: calc(var(--normal-size) * 2);
    --normal-3: calc(var(--normal-size) * 3);
    --normal-4: calc(var(--normal-size) * 4);
    --normal-5: calc(var(--normal-size) * 5);
    --normal-6: calc(var(--normal-size) * 6);
    --normal-7: calc(var(--normal-size) * 7);
    --normal-8: calc(var(--normal-size) * 8);
    --normal-9: calc(var(--normal-size) * 9);
    --padding-1x: var(--half-size);
    --margin-1x: var(--half-size);
    --html-height: calc(var(--normal-size) * 12);
    --html-width: calc(var(--normal-size) * 10);
}

body {
    --color-l: 1;
    --color-1-h: 0;
    --color-1-s: 0%;
    --color-1-l: 94.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), var(--color-1-l), var(--color-1-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), var(--color-2-l), var(--color-2-a));
    --color-3-h: 207deg;
    --color-3-s: 89.7%;
    --color-3-l: 54.1%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), var(--color-3-l), var(--color-3-a));
    --color-4-h: 221deg;
    --color-4-s: 95.9%;
    --color-4-l: 71.6%;
    --color-4-a: 1;
    --color-4: hsla(var(--color-4-h), var(--color-4-s), var(--color-4-l), var(--color-4-a));
    --color-5-h: 0deg;
    --color-5-s: 0.0%;
    --color-5-l: 51.0%;
    --color-5-a: 1;
    --color-5: hsla(var(--color-5-h), var(--color-5-s), var(--color-5-l), var(--color-5-a));
    --color-6-h: 0deg;
    --color-6-s: 0.0%;
    --color-6-l: 68.6%;
    --color-6-a: 1;
    --color-6: hsla(var(--color-6-h), var(--color-6-s), var(--color-6-l), var(--color-6-a));
    --color-7-h: 38deg;
    --color-7-s: 100.0%;
    --color-7-l: 50.0%;
    --color-7-a: 1;
    --color-7: hsla(var(--color-7-h), var(--color-7-s), var(--color-7-l), var(--color-7-a));
    --color-8-h: 0deg;
    --color-8-s: 0.0%;
    --color-8-l: 90.2%;
    --color-8-a: 1;
    --color-8: hsla(var(--color-8-h), var(--color-8-s), var(--color-8-l), var(--color-8-a));
    --color-9-h: 0deg;
    --color-9-s: 0.0%;
    --color-9-l: 25.1%;
    --color-9-a: 1;
    --color-9: hsla(var(--color-9-h), var(--color-9-s), var(--color-9-l), var(--color-9-a));
    --color-10-h: 356deg;
    --color-10-s: 79.9%;
    --color-10-l: 64.9%;
    --color-10-a: 1;
    --color-10: hsla(var(--color-10-h), var(--color-10-s), var(--color-10-l), var(--color-10-a));
    --color-11-h: 0deg;
    --color-11-s: 0.0%;
    --color-11-l: 100.0%;
    --color-11-a: 1;
    --color-11: hsla(var(--color-11-h), var(--color-11-s), var(--color-11-l), var(--color-11-a));
    --color-12-h: 219deg;
    --color-12-s: 100.0%;
    --color-12-l: 72.0%;
    --color-12-a: 1;
    --color-12: hsla(var(--color-12-h), var(--color-12-s), var(--color-12-l), var(--color-12-a));
    --color-13-h: 168deg;
    --color-13-s: 100.0%;
    --color-13-l: 37.5%;
    --color-13-a: 1;
    --color-13: hsla(var(--color-13-h), var(--color-13-s), var(--color-13-l), var(--color-13-a));
    --color-14-h: 0deg;
    --color-14-s: 0.0%;
    --color-14-l: 19.6%;
    --color-14-a: 1;
    --color-14: hsla(var(--color-14-h), var(--color-14-s), var(--color-14-l), var(--color-14-a));
}

html, body {
    width: var(--html-width);
    height: var(--html-height);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0;
    user-select: none;
}

ui-hide-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    z-index: 5000;
}

body[ready] ui-hide-overlay {
    bottom: 100%;
    opacity: 0;
    transition: bottom 0s 0.3s, opacity 0.3s 0.1s;
}

*[hidden] {
    display: none;
}

/*
 *   ui-audio-file, AudioFile.js
 */

ui-audio-file input[type="range"]::-webkit-slider-thumb {
    background-color: var(--color-3);
}

ui-audio-file input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: var(--color-6);
}

ui-audio-file label {
    background-color: var(--color-3);
}

ui-audio-file ui-audio-icon[svg="play"] {
    background-color: var(--color-3);
}

ui-audio-file ui-audio-icon[disabled] {
    background-color: var(--color-6);
}

ui-audio-file label svg path {
    fill: var(--color-1);
}

ui-audio-file ui-audio-icon[svg="play"] svg path {
    fill: var(--color-1);
}

ui-audio-file input[type="range"]:disabled {
    background: linear-gradient(90deg, var(--color-6) 0, var(--color-6) calc(var(--range-value) * 100%), var(--color-6) calc(var(--range-value) * 100%), var(--color-6) 100%);
}

ui-audio-file input[type="range"] {
    background: linear-gradient(90deg, var(--color-3) 0, var(--color-3) calc(var(--range-value) * 100%), var(--color-6) calc(var(--range-value) * 100%), var(--color-6) 100%);
}

ui-audio-file ui-audio-icon[svg="volume-high"] svg path {
    fill: var(--color-6);
}

/*
 *   ui-confirm-button, ConfirmButton.js
 */

ui-confirm-button {
    color: var(--color-2);
    background: repeating-linear-gradient(90deg, var(--color-10) 0, var(--color-10) 50%, var(--color-6) 50%, var(--color-6) 100%);
}

ui-confirm-button svg path {
    fill: var(--color-2);
}

/*
 *   ui-context-menu, ContextMenu.js
 */

ui-context-menu {
    background-color: var(--color-11);
    border-color: var(--color-6);
    color: #000;
}

/*
 *   ui-context-element, ContextMenuElement.js
 */

ui-context-element:hover {
    background-color: var(--color-1);
}

/*
 *   ui-hide-overlay, HideOverlay.js
 */

ui-hide-overlay {
    background-color: var(--color-3);
}

/*
 *   ui-icon, Icon.js
 */

ui-icon polygon {
    fill: var(--color-2);
}

ui-icon path {
    fill: var(--color-2);
}

/*
 *   ui-information, Information.js
 */

ui-information:not(:last-of-type) {
    border-bottom-color: var(--color-6);
}

ui-information ui-icon svg path {
    fill: var(--color-6);
}

ui-information ui-text:nth-of-type(2) {
    color: var(--color-5);
}

/*
 *   ui-main-header, MainHeader.js
 */

ui-main-header {
    background-color: var(--color-2);
}

ui-main-header ui-icon {
    background-color: var(--color-3);
}

ui-main-header ui-title {
    color: var(--color-5);
}

ui-main-header ui-logo svg circle:nth-child(1) {
    fill: var(--color-2);
}

ui-main-header ui-logo svg circle:nth-child(2) {
    stroke: var(--color-3);
}

ui-main-header ui-logo svg polygon:nth-child(3) {
    fill: var(--color-3);
}

ui-main-header ui-logo svg polygon:nth-child(4) {
    fill: var(--color-2);
}

ui-main-header ui-search-bar {
    background-color: var(--color-3);
}

ui-main-header ui-search-bar input {
    border-color: var(--color-2);
    color: var(--color-2);
    background-color: var(--color-3);
}

ui-main-header triangle {
    border-color: transparent var(--color-3) transparent;
}

/*
 *   ui-page, Page.js
 */

ui-page {
    background-color: var(--color-1);
    color: #000;
}

/*
 *   ui-page-header, PageHeader.js
 */

ui-page-header {
    background-color: var(--color-3);
}

ui-page-header ui-title {
    color: var(--color-2);
}

/*
 *   ui-scrollbar, ScrollBar.js
 */

ui-scrollbar {
    background-color: var(--color-3);
}

/*
 *   ui-audio-file, AudioFile.js
 */

 ui-slider input[type="range"]::-webkit-slider-thumb {
    background-color: var(--color-3);
}

ui-slider input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: var(--color-6);
}
ui-slider ui-slider-icon svg path {
    fill: var(--color-6);
}

ui-slider input[type="range"]:disabled {
    background: linear-gradient(90deg, var(--color-6) 0, var(--color-6) calc(var(--range-value) * 100%), var(--color-6) calc(var(--range-value) * 100%), var(--color-6) 100%);
}

ui-slider input[type="range"] {
    background: linear-gradient(90deg, var(--color-3) 0, var(--color-3) calc(var(--range-value) * 100%), var(--color-6) calc(var(--range-value) * 100%), var(--color-6) 100%);
}

/*
 *   ui-snackbar, SnackBar.js
 */

ui-snackbar {
    background-color: var(--color-14);
}

/*
 *   ui-snackbar-button, SnackBar.js
 */

ui-snackbar-button {
    color: var(--color-13);
}

ui-snackbar-button:hover {
    border-color: var(--color-9);
}

/*
 *   ui-snackbar-text, SnackBar.js
 */

ui-snackbar-text {
    color: var(--color-1);
}

/*
 *   ui-stream, Stream.js
 */

ui-stream {
    background-color: var(--color-14);
}

ui-stream favicon {
    background-color: var(--color-2);
}

/*
 *   ui-stream-infos, StreamInfo.js
 */

ui-stream-infos {
    border-color: var(--color-6);
    color: #000;
    background-color: var(--color-2);
}

ui-stream-infos ui-avatar {
    background-color: var(--color-2);
}

ui-stream-infos ui-stream-info {
    color: var(--color-9);
}

ui-stream-infos ui-stream-info path {
    fill: var(--color-3);
}

ui-stream-infos ui-stream-info[info="viewers"] {
    background-color: var(--color-3);
    color: var(--color-2);
}

ui-stream-infos ui-stream-info[info="username"] {
    background-color: var(--color-3);
    color: var(--color-2);
}

ui-stream-infos ui-stream-info[info="viewers"] path {
    fill: var(--color-2);
}

ui-stream-infos ui-stream-info[info="edit"] {
    border-top: solid 1px var(--color-6);
}

ui-stream-infos ui-stream-info[info="edit"]:hover {
    background-color: var(--color-3);
    color: var(--color-2);
    border-color: var(--color-3);
}

ui-stream-infos ui-stream-info[info="edit"]:hover svg path {
    fill: var(--color-2);
}

/*
 *   ui-stream-infos-lite, StreamInfoLite.js
 */

ui-stream-infos-lite {
    border-color: var(--color-6);
    color: #000;
    background-color: var(--color-2);
}

ui-stream-infos-lite ui-avatar {
    background-color: var(--color-2);
}

ui-stream-infos-lite ui-stream-info {
    color: var(--color-9);
}

ui-stream-infos-lite ui-stream-info path {
    fill: var(--color-3);
}

ui-stream-infos-lite ui-stream-info[info="viewers"] {
    background-color: var(--color-3);
    color: var(--color-2);
}
ui-stream-infos-lite ui-stream-info[info="username"] {
    background-color: var(--color-3);
    color: var(--color-2);
}

ui-stream-infos-lite ui-stream-info[info="viewers"] path {
    fill: var(--color-2);
}

/*
 *   ui-stream-list, StreamList.js
 */

ui-stream-list {
    background-color: var(--color-1);
}

/*
 *   ui-switch, Switch.js
 */

ui-switch[border] {
    border-color: var(--color-6);
}

ui-switch ui-switch-icon svg path {
    fill: var(--color-6);
}

ui-switch label svg path {
    fill: var(--color-6);
}

ui-switch label input:checked+svg path {
    fill: var(--color-3);
}

/*
 *   ui-theme-template, ThemeTemplate.js
 */

ui-theme-template {
    background-color: var(--color-1);
    border-color: var(--color-3);
}

ui-theme-template ui-theme-header {
    background-color: var(--color-2);
}

ui-theme-template ui-theme-overlay {
    background-color: var(--color-3);
}

ui-theme-template ui-theme-title {
    color: var(--color-3);
    background-color: var(--color-2);
}

ui-theme-template ui-theme-icon {
    background-color: var(--color-2);
}

ui-theme-template ui-theme-triangle {
    border-color: transparent var(--color-3) transparent;
}

/*
 *   ui-title-section, TitleSection.js
 */

ui-title-section {
    color: var(--color-3);
}

/*
 *   ui-user-info, UserInfo.js
 */

ui-user-info ui-avatar {
    background-color: var(--color-6);
}

ui-user-info input {
    border-color: var(--color-6);
    color: var(--color-9);
}