*[theme="osnot-original"] {
    --color-1-h: 0;
    --color-1-s: 0%;
    --color-1-l: 94.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-3-h: 207deg;
    --color-3-s: 89.7%;
    --color-3-l: 54.1%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-4-h: 221deg;
    --color-4-s: 95.9%;
    --color-4-l: 71.6%;
    --color-4-a: 1;
    --color-4: hsla(var(--color-4-h), var(--color-4-s), calc(var(--color-4-l) * var(--color-l)), var(--color-4-a));
    --color-5-h: 0deg;
    --color-5-s: 0.0%;
    --color-5-l: 51.0%;
    --color-5-a: 1;
    --color-5: hsla(var(--color-5-h), var(--color-5-s), calc(var(--color-5-l) * var(--color-l)), var(--color-5-a));
    --color-6-h: 0deg;
    --color-6-s: 0.0%;
    --color-6-l: 68.6%;
    --color-6-a: 1;
    --color-6: hsla(var(--color-6-h), var(--color-6-s), calc(var(--color-6-l) * var(--color-l)), var(--color-6-a));
    --color-7-h: 38deg;
    --color-7-s: 100.0%;
    --color-7-l: 50.0%;
    --color-7-a: 1;
    --color-7: hsla(var(--color-7-h), var(--color-7-s), calc(var(--color-7-l) * var(--color-l)), var(--color-7-a));
    --color-8-h: 0deg;
    --color-8-s: 0.0%;
    --color-8-l: 90.2%;
    --color-8-a: 1;
    --color-8: hsla(var(--color-8-h), var(--color-8-s), calc(var(--color-8-l) * var(--color-l)), var(--color-8-a));
    --color-9-h: 0deg;
    --color-9-s: 0.0%;
    --color-9-l: 25.1%;
    --color-9-a: 1;
    --color-9: hsla(var(--color-9-h), var(--color-9-s), calc(var(--color-9-l) * var(--color-l)), var(--color-9-a));
    --color-10-h: 356deg;
    --color-10-s: 79.9%;
    --color-10-l: 64.9%;
    --color-10-a: 1;
    --color-10: hsla(var(--color-10-h), var(--color-10-s), calc(var(--color-10-l) * var(--color-l)), var(--color-10-a));
    --color-11-h: 0deg;
    --color-11-s: 0.0%;
    --color-11-l: 100.0%;
    --color-11-a: 1;
    --color-11: hsla(var(--color-11-h), var(--color-11-s), calc(var(--color-11-l) * var(--color-l)), var(--color-11-a));
    --color-12-h: 219deg;
    --color-12-s: 100.0%;
    --color-12-l: 72.0%;
    --color-12-a: 1;
    --color-12: hsla(var(--color-12-h), var(--color-12-s), calc(var(--color-12-l) * var(--color-l)), var(--color-12-a));
    --color-13-h: 168deg;
    --color-13-s: 100.0%;
    --color-13-l: 37.5%;
    --color-13-a: 1;
    --color-13: hsla(var(--color-13-h), var(--color-13-s), calc(var(--color-13-l) * var(--color-l)), var(--color-13-a));
}

*[theme="osnot-original-red"] {
    --color-1-h: 0deg;
    --color-1-s: 0.0%;
    --color-1-l: 94.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-3-h: 0deg;
    --color-3-s: 97.3%;
    --color-3-l: 28.6%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-4-h: 221deg;
    --color-4-s: 95.9%;
    --color-4-l: 71.6%;
    --color-4-a: 1;
    --color-4: hsla(var(--color-4-h), var(--color-4-s), calc(var(--color-4-l) * var(--color-l)), var(--color-4-a));
    --color-5-h: 0deg;
    --color-5-s: 0.0%;
    --color-5-l: 51.0%;
    --color-5-a: 1;
    --color-5: hsla(var(--color-5-h), var(--color-5-s), calc(var(--color-5-l) * var(--color-l)), var(--color-5-a));
    --color-6-h: 0deg;
    --color-6-s: 0.0%;
    --color-6-l: 68.6%;
    --color-6-a: 1;
    --color-6: hsla(var(--color-6-h), var(--color-6-s), calc(var(--color-6-l) * var(--color-l)), var(--color-6-a));
    --color-7-h: 38deg;
    --color-7-s: 100.0%;
    --color-7-l: 50.0%;
    --color-7-a: 1;
    --color-7: hsla(var(--color-7-h), var(--color-7-s), calc(var(--color-7-l) * var(--color-l)), var(--color-7-a));
    --color-8-h: 0deg;
    --color-8-s: 0.0%;
    --color-8-l: 90.2%;
    --color-8-a: 1;
    --color-8: hsla(var(--color-8-h), var(--color-8-s), calc(var(--color-8-l) * var(--color-l)), var(--color-8-a));
    --color-9-h: 0deg;
    --color-9-s: 0.0%;
    --color-9-l: 25.1%;
    --color-9-a: 1;
    --color-9: hsla(var(--color-9-h), var(--color-9-s), calc(var(--color-9-l) * var(--color-l)), var(--color-9-a));
    --color-10-h: 356deg;
    --color-10-s: 79.9%;
    --color-10-l: 64.9%;
    --color-10-a: 1;
    --color-10: hsla(var(--color-10-h), var(--color-10-s), calc(var(--color-10-l) * var(--color-l)), var(--color-10-a));
    --color-11-h: 0deg;
    --color-11-s: 0.0%;
    --color-11-l: 100.0%;
    --color-11-a: 1;
    --color-11: hsla(var(--color-11-h), var(--color-11-s), calc(var(--color-11-l) * var(--color-l)), var(--color-11-a));
    --color-12-h: 219deg;
    --color-12-s: 100.0%;
    --color-12-l: 72.0%;
    --color-12-a: 1;
    --color-12: hsla(var(--color-12-h), var(--color-12-s), calc(var(--color-12-l) * var(--color-l)), var(--color-12-a));
    --color-13-h: 168deg;
    --color-13-s: 100.0%;
    --color-13-l: 37.5%;
    --color-13-a: 1;
    --color-13: hsla(var(--color-13-h), var(--color-13-s), calc(var(--color-13-l) * var(--color-l)), var(--color-13-a));
}

*[theme="osnot-blue"] {
    --color-1-h: 205deg;
    --color-1-s: 86.7%;
    --color-1-l: 94.1%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-3-h: 207deg;
    --color-3-s: 89.7%;
    --color-3-l: 54.1%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
}

*[theme="osnot-blue-gray"] {
    --color-3-h: 200deg;
    --color-3-s: 18.3%;
    --color-3-l: 46.1%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 204deg;
    --color-1-s: 15.2%;
    --color-1-l: 93.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-brown"] {
    --color-3-h: 16deg;
    --color-3-s: 25.4%;
    --color-3-l: 37.8%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 20deg;
    --color-1-s: 15.8%;
    --color-1-l: 92.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-deep-purple"] {
    --color-3-h: 262deg;
    --color-3-s: 51.9%;
    --color-3-l: 47.3%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 264deg;
    --color-1-s: 45.5%;
    --color-1-l: 93.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-green"] {
    --color-3-h: 122deg;
    --color-3-s: 39.4%;
    --color-3-l: 49.2%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 125deg;
    --color-1-s: 39.4%;
    --color-1-l: 93.5%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-indigo"] {
    --color-3-h: 231deg;
    --color-3-s: 48.4%;
    --color-3-l: 47.8%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 231deg;
    --color-1-s: 43.8%;
    --color-1-l: 93.7%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-light-blue"] {
    --color-3-h: 199deg;
    --color-3-s: 97.6%;
    --color-3-l: 48.4%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 199deg;
    --color-1-s: 93.5%;
    --color-1-l: 93.9%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-orange"] {
    --color-3-h: 36deg;
    --color-3-s: 100.0%;
    --color-3-l: 50.0%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 37deg;
    --color-1-s: 100.0%;
    --color-1-l: 93.9%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-pink"] {
    --color-3-h: 340deg;
    --color-3-s: 82.6%;
    --color-3-l: 66.3%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 340deg;
    --color-2-s: 80.0%;
    --color-2-l: 94.1%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 340deg;
    --color-1-s: 72.4%;
    --color-1-l: 88.6%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-purple"] {
    --color-3-h: 291deg;
    --color-3-s: 63.7%;
    --color-3-l: 42.2%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 292deg;
    --color-1-s: 44.4%;
    --color-1-l: 92.9%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}

*[theme="osnot-teal"] {
    --color-3-h: 174deg;
    --color-3-s: 100.0%;
    --color-3-l: 29.4%;
    --color-3-a: 1;
    --color-3: hsla(var(--color-3-h), var(--color-3-s), calc(var(--color-3-l) * var(--color-l)), var(--color-3-a));
    --color-2-h: 0deg;
    --color-2-s: 0.0%;
    --color-2-l: 96.5%;
    --color-2-a: 1;
    --color-2: hsla(var(--color-2-h), var(--color-2-s), calc(var(--color-2-l) * var(--color-l)), var(--color-2-a));
    --color-1-h: 177deg;
    --color-1-s: 40.9%;
    --color-1-l: 91.4%;
    --color-1-a: 1;
    --color-1: hsla(var(--color-1-h), var(--color-1-s), calc(var(--color-1-l) * var(--color-l)), var(--color-1-a));
}